body {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}

td,
th {
  padding: 12px;
}

td {
  /* Needed for flex to work within table cell. */
  height: 150px;
}

img.thumb {
  width: 100px;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
}

#take-a-chancel {
  font-weight: 600;
  color: darkslategray;
}

#abba img {
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
}

/* increment button and count label size */
.inc-button {
  font-size: 1.4em;
  /* width: 30px; */
  height: 40px;
  margin-right: 12px;
}
.got-it-button {
  font-size: 1.1em;
  padding: 4px 8px;
  margin: 4px 0;
}
.count-label {
  font-size: 1.4em;
}

/* First td in table with song thumbnail. */
.song-thumb {
  border-right: none;
}
/* Second td in table with song link. */
.song-link-track {
  border-left: none;
}

.song-link-track2 {
  border-left: none;
  vertical-align: center;
}

.song-link-track > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.song-link-track2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.song-overdue {
  background-color: red;
  color: white;
}
.song-have-time {
  background-color: lightblue;
  color: black;
}
.song-soon {
  background-color: lightcoral;
  color: black;
}
.song-got-it {
  background-color: lightgreen;
  color: black;
}
.song-give-it {
  background-color: green;
  color: white;
}

/* Lists */
ul {
  padding: 0 16px;
  line-height: 1.4rem;
}
ul.bigger {
  line-height: 1.6rem;
}

#how-details {
  display: none;
  padding: 12px 24px;
  background-color: rgb(190, 225, 239);
}
